*{
    margin: 0;
    padding: 0;
}
.header
{
    height: 100vh;

}
.navbar-style
{
    box-shadow: 0 5px 10px #efefef;
    text-transform: uppercase;
    column-fill: rgb(88, 45, 45);
}
.happy-learning
{
    height: 48px;
    padding: 0px 10px;
}
.icon-bar
{
    background: darkorange;
}
li a
{
    color: darkslategray;
}
.big-text
{
    font-size: 52px;
    margin: 20px 0;
    color: darkorange;
}
a.btn{
    margin: 30px 10px;
    width: 150px;
    padding:10px;
    border-radius: 20px;
}
a.btn-first
{
    background-color: rgb(75, 75, 201);
    color: #fff;
}
a.btn-second
{
    background:transparent;
    border: 1px solid rgb(48, 48, 156)
    coral #333;
}
a.btn:hover
{
    background:darkgreen;
    border:none;
    color:#fff;
    box-shadow : 5px 5px 10px #999;
    transition : 0.3s;
}
.banner-info, .banner-img{
    margin: 30px 0;
}
.b {
    background-color: lightblue;
    background-image : url("img\background-img.jpg");
  }